<h2>Sign up</h2>

<%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user form-signin' do |f| %>
  <%= render "user/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :id_name %><br />
    <%= f.text_field :id_name %>
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :sex %>
    <%= f.radio_button :sex, User.sexes.key(0) %>
    <%= f.label :sex, "男性", value: User.sexes.key(0) %>
    <%= f.radio_button :sex, User.sexes.key(1) %>
    <%= f.label :sex, "女性", value: User.sexes.key(1) %>
    <%= f.radio_button :sex, User.sexes.key(2) %>
    <%= f.label :sex, "その他", value: User.sexes.key(2) %>
  </div>

  <div class="field">
    <%= f.label :birth_day %><br />
    <%= f.date_field :birth_day %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "user/shared/links" %>
